MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.oe0akin.mongodb.net/minhafarmdb?retryWrites=true&w=majority
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=1NV7h+6U+spk5ZIRx8wMF9XI8NiX9p4MFBLLXTa9JhA=